.logo {
    font-family: Open Sans, sans-serif;
}
.col-auto {
    width: auto;
}
th, td{
    padding:0.2em;
    padding-right: 1em;
}
body {
    background-color: #ffffcc;
}
.navbar{
    background-color: #ffcc99;
    border-color: #ddaa77;
}
.navbar-toggle{
    background-color: #9d0000;
}
.navbar-toggle:focus {
    background-color: #eee;
}
.icon-bar{
    background-color:#ffffcc;
}
.navbar-toggle:focus .icon-bar {
    background-color: #9d0000;
}
nav, a{
    color:#9d0000;
    font-weight: bold;
}
.nav_current {
    text-decoration: underline;
}
.img-large{
    position: relative;
    width:100%;
    height: auto;
}

p.search_result {
    font-size:1.5em;
    font-weight:bold;
    color:#9d0000
}
.search_result a{
    font-size:1.5em;
    font-weight:bold;
    color:#9d0000
}

.btn-success{
    background-color: #2a852a;
}

.btn-info{
    background-color: #2a4ca7;
}

button.search_result {
    display: none;
}

pre{
    font-size:1em;
    background-color: #ffffcc;
    font-family: inherit;
    border: none;
}

